
/* FONTS */

@font-face {
    font-family: "Theater";
    src: url('fonts/Theaterv04_Bold.ttf') format('truetype');
}

/* //////////////////////////// */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-header {
    z-index: 999;

    position: relative;
    background-color: #790006;
    color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header .logo {
    width: 77px;
    height: 77px;
}

#main-header .logo img {
    filter: brightness(999);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-header .nav-bar .nav-bar-ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#main-header .nav-bar .nav-bar-ul li {
    position: relative;
    padding: 0 30px;
}

#main-header .nav-bar .nav-bar-ul li a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 2.2ch;
    display: flex;
    /* align-items: center;  */
    column-gap: 5px;

    transition: color .2s;
}

#main-header .nav-bar .nav-bar-ul li a:hover {
    color: #ff7b81;
}

#main-header .nav-bar .nav-bar-ul li a i {
    display: inline-block;
    transition: transform 0.3s;
}

#main-header .nav-bar .nav-bar-ul li.active a.with_rotate i {
    transform: rotate(180deg);
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    position: absolute;
    min-width: 100%;
    /* width: 100%; */
    top: 100%; 
    left: 0;
    background: #790006;
    list-style: none;
    /* overflow: hidden; */
    transform-origin: top;
    padding: 40px 0 20px 0;
    visibility: hidden;
    font-size: 1.8ch;

    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    row-gap: 10px;
}

.dropdown-menu.last-menu li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-menu li {
    text-wrap: nowrap;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.dropdown.active .dropdown-menu {
    visibility: visible;
}

.main-image {
    width: 100%;
    height: 100vh;
    background-image: url(images/main-background.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;

    box-shadow: inset 0 0 50px #000;
    
    display: flex;
    align-items: center;
    justify-content: left;
}

.main-image .titles {
    display: flex;
    flex-direction: column;
    
    color: #fff;
    font-family: "Theater", sans-serif;
    margin-left: 200px;
}

.main-image .titles .pre-title, 
.main-image .titles .lower-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.main-image .titles .main-title {
    font-size: 120px;
    line-height: 100px;
}

.main-image .titles .purchase-btn {
    margin-top: 20px;
    display: flex;
    column-gap: 30px;
}

.main-image .titles .purchase-btn .purchase-btn {
    cursor: pointer;
    padding: 20px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.main-image .titles .purchase-btn .purchase-btn.first {
    background: #790006;
}

.main-image .titles .purchase-btn .purchase-btn.first:hover {
    background: #fff;
    color: #790006;
}

.main-image .titles .purchase-btn .purchase-btn.last {
    border: solid 3px #790006;
    backdrop-filter: blur(6px);
}

.main-image .titles .purchase-btn .purchase-btn.last:hover {
    background-color: #fff;
    color: #790006;
    border-color: #fff;
}

.now-showing {
    width: 100%;
    background-color: #060609FF;
}

.now-showing img {
    width: 100%;
}

.about-us {
    width: 100%;
    background-color: #000;
}

.about-us img {
    width: 100%;
}

/* ***************************** */

.premiers {
    width: 100%;
    /* height: 100vh; */
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;

    padding: 50px 0 ;
}

.premiers .block {
    width: 80%;
    /* height: 50vh; */
    background: #101010FF;

    display: flex;
    column-gap: 20px;
    font-family: sans-serif;
    color: #fff;
}

.premiers .block .texts {
    position: relative;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.premiers .block .texts h2 {
    position: absolute;
    top: 20px;
    font-size: 46px;
}

.premiers .block .texts .properties {
    display: flex;
    column-gap: 20px;
}

.premiers .block .texts .properties p {
    font-size: 30px;
}

/* //// Sneak Peaks //// */

body#peaks {
    background: #000;
}

.peaks {
    position: relative;
    left: 50%;
    top: 50px;
    width: 80%;

    display: flex;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;
    transform: translateX(-50%);
}

.peaks .peak-block {
    width: 100%;
    display: flex;
    column-gap: 30px;

    background: #353535;
    padding: 20px;
}

.peaks .peak-block .peak-image {
    width: 100%;
}

.peaks .peak-block .peak-image img {
    width: 100%;
}

.peaks .peak-title {
    color: #fff;
    font-family: sans-serif;

    font-weight: 500;
    font-size: 28px;
}

/* Awards and Festivals */

#awards {
background: #000;
}

.awards-block {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;
}

.awards-block .awards-list {
    width: 90%;
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.awards-block .awards-list .award {
    width: 100%;
    height: 300px;

    display: flex; 
    column-gap: 20px;
    justify-content: space-between;
    padding: 10px;
    background: #353535;
    /* overflow: hidden; */
}

.awards-block .awards-list .award img {
    /* height: 100%; */
    width: 400px;
    object-fit: cover;
}

.awards-block .awards-list .award .award-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.awards-block .awards-list .award .award-text .award-title {
    color: #ffffff90;
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}

.awards-block .awards-list .award .award-text .award-subtitle,
.awards-block .awards-list .award .award-text .award-subtitle a {
    color: #fff;

    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
}

/* Upcoming projects */

#upcoming {
    background: #000;
}

.upcoming-block {
    height: 100vh;

    display: grid;
    place-items: center;
    margin-top: 40px;
    margin-bottom: 40vh;
}

.upcoming-block .upcoming-list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 15px;
    row-gap: 15px;
}

.upcoming-block .upcoming-list .upcoming {
    padding: 10px;
    background: #353535;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    border-radius: 5px;
}

.upcoming-block .upcoming-list .upcoming img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.upcoming-block .upcoming-list .upcoming .title {
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 26px;
}